In [292]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to change the path if needed.)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read the School Data and Student Data and store into a Pandas DataFrame
school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)

# Cleaning Student Names and Replacing Substrings in a Python String
# Add each prefix and suffix to remove to a list.
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

# Iterate through the words in the "prefixes_suffixes" list and replace them with an empty space, "".
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")

# Check names.
student_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,Unnamed: 7,Unnamed: 8
0,0,Paul Bradley,M,9th,Huang High School,66,79,NaN,81.877840
1,1,Victor Smith,M,12th,Huang High School,94,61,NaN,78.985371
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,NaN,NaN
3,3,Richard Scott,M,12th,Huang High School,67,58,NaN,NaN
4,4,Bonnie Ray,F,9th,Huang High School,97,84,NaN,NaN

## Deliverable 1: Replace the reading and math scores.

### Replace the 9th grade reading and math scores at Thomas High School with NaN.

In [264]:
# Install numpy using conda install numpy or pip install numpy. 
# Step 1. Import numpy as np.
import numpy as np

In [265]:
# Step 2. Use the loc method on the student_data_df to select all the reading scores from the 9th grade at Thomas High School and replace them with NaN.
student_data_df.loc[(student_data_df["school_name"] == "Thomas High School") & (student_data_df["grade"] == "9th"), "reading_score"] = np.nan

In [266]:
#  Step 3. Refactor the code in Step 2 to replace the math scores with NaN.
student_data_df.loc[(student_data_df["school_name"] == "Thomas High School") & (student_data_df["grade"] == "9th"), "math_score"] = np.nan

In [293]:
#  Step 4. Check the student data for NaN's. 
student_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,Unnamed: 7,Unnamed: 8
0,0,Paul Bradley,M,9th,Huang High School,66,79,NaN,81.877840
1,1,Victor Smith,M,12th,Huang High School,94,61,NaN,78.985371
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,NaN,NaN
3,3,Richard Scott,M,12th,Huang High School,67,58,NaN,NaN
4,4,Bonnie Ray,F,9th,Huang High School,97,84,NaN,NaN

## Deliverable 2 : Repeat the school district analysis

### District Summary

In [268]:
# Combine the data into a single dataset
school_data_complete_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,Unnamed: 7,Unnamed: 8,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66.0,79.0,NaN,81.877840,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94.0,61.0,NaN,78.985371,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90.0,60.0,NaN,NaN,0,District,2917,1910635
3,3,Richard Scott,M,12th,Huang High School,67.0,58.0,NaN,NaN,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97.0,84.0,NaN,NaN,0,District,2917,1910635

In [269]:
# Calculate the Totals (Schools and Students)
school_count = len(school_data_complete_df["school_name"].unique())
student_count = school_data_complete_df["Student ID"].count()

# Calculate the Total Budget
total_budget = school_data_df["budget"].sum()

In [270]:
# Calculate the Average Scores using the "clean_student_data".
average_reading_score = school_data_complete_df["reading_score"].mean()
average_math_score = school_data_complete_df["math_score"].mean()

In [271]:
# Step 1. Get the number of students that are in ninth grade at Thomas High School.
# These students have no grades. 
ninth_grade_students = student_data_df.loc[(student_data_df["school_name"] == "Thomas High School") & (student_data_df["grade"] == "9th")]

# Get the total student count 
student_count = school_data_complete_df["Student ID"].count()

# Step 2. Subtract the number of students that are in ninth grade at 
# Thomas High School from the total student count to get the new total student count.
new_student_count = (student_count) - (ninth_grade_students["Student ID"].count())
print(new_student_count)

38709

In [272]:
# Calculate the passing rates using the "clean_student_data".
passing_math_count = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)].count()["student_name"]
passing_reading_count = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)].count()["student_name"]

In [273]:
# Step 3. Calculate the passing percentages with the new total student count.
percent_passing_math = passing_math_count / new_student_count * 100

percent_passing_reading = passing_reading_count / new_student_count * 100
percent_passing_math, percent_passing_reading

(74.76039164018704, 85.6596657108166)

In [274]:
# Calculate the students who passed both reading and math.
passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)
                                               & (school_data_complete_df["reading_score"] >= 70)]

# Calculate the number of students that passed both reading and math.
overall_passing_math_reading_count = passing_math_reading["student_name"].count()


# Step 4.Calculate the overall passing percentage with new total student count.
overall_passing_percentage = (percent_passing_math + percent_passing_reading)/2
overall_passing_percentage

80.21002867550182

In [275]:
# Create a DataFrame
district_summary_df = pd.DataFrame(
          [{"Total Schools": school_count, 
          "Total Students": student_count, 
          "Total Budget": total_budget,
          "Average Math Score": average_math_score, 
          "Average Reading Score": average_reading_score,
          "% Passing Math": passing_math_percentage,
         "% Passing Reading": passing_reading_percentage,
        "% Overall Passing": overall_passing_percentage}])


# Format the "Total Students" to have the comma for a thousands separator.
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
# Format the "Total Budget" to have the comma for a thousands separator, a decimal separator and a "$".
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)
# Format the columns.
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.1f}".format)
district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.1f}".format)
district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.1f}".format)

# Display the data frame
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.9,81.9,74.8,85.7,80.2

##  School Summary

In [276]:
# Determine the School Type
per_school_types = school_data_df.set_index(["school_name"])["type"]

# Calculate the total student count.
per_school_counts = school_data_complete_df["school_name"].value_counts()

# Calculate the total school budget and per capita spending
per_school_budget = school_data_complete_df.groupby(["school_name"]).mean()["budget"]
# Calculate the per capita spending.
per_school_capita = per_school_budget / per_school_counts

# Calculate the average test scores.
per_school_math = school_data_complete_df.groupby(["school_name"]).mean()["math_score"]
per_school_reading = school_data_complete_df.groupby(["school_name"]).mean()["reading_score"]

# Calculate the passing scores by creating a filtered DataFrame.
per_school_passing_math = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)]
per_school_passing_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)]

# Calculate the number of students passing math and passing reading by school.
per_school_passing_math = per_school_passing_math.groupby(["school_name"]).count()["student_name"]
per_school_passing_reading = per_school_passing_reading.groupby(["school_name"]).count()["student_name"]

# Calculate the percentage of passing math and reading scores per school.
per_school_passing_math = per_school_passing_math / per_school_counts * 100
per_school_passing_reading = per_school_passing_reading / per_school_counts * 100

# Calculate the students who passed both reading and math.
per_passing_math_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)
                                               & (school_data_complete_df["math_score"] >= 70)]
# Calculate the number of students passing math and passing reading by school.
per_passing_math_reading = per_passing_math_reading.groupby(["school_name"]).count()["student_name"]

# Calculate the percentage of passing math and reading scores per school.
per_overall_passing_percentage = per_passing_math_reading / per_school_counts * 100

In [277]:
# Create the DataFrame
per_school_summary_df = pd.DataFrame({
    "School Type": per_school_types,
    "Total Students": per_school_counts,
    "Total School Budget": per_school_budget,
    "Per Student Budget": per_school_capita,
    "Average Math Score": per_school_math,
    "Average Reading Score": per_school_reading,
    "% Passing Math": per_school_passing_math,
    "% Passing Reading": per_school_passing_reading,
    "% Overall Passing": per_overall_passing_percentage})

# per_school_summary_df.head()

In [278]:
# Format the Total School Budget and the Per Student Budget
per_school_summary_df["Total School Budget"] = per_school_summary_df["Total School Budget"].map("${:,.2f}".format)
per_school_summary_df["Per Student Budget"] = per_school_summary_df["Per Student Budget"].map("${:,.2f}".format)

# Display the data frame
per_school_summary_df.tail()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.350937,83.896082,66.911315,69.663609,65.076453
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333

In [279]:
# Step 5.  Get the number of 10th-12th graders from Thomas High School (THS).
per_school_summary_df.loc[(per_school_summary_df.index == "Thomas High School") & (per_school_summary_df.index != "ninth_grade_students")]

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.350937,83.896082,66.911315,69.663609,65.076453

In [291]:
student_data_df.head(5)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,Unnamed: 7,Unnamed: 8
0,0,Paul Bradley,M,9th,Huang High School,66.0,79.0,NaN,81.877840
1,1,Victor Smith,M,12th,Huang High School,94.0,61.0,NaN,78.985371
2,2,Kevin Rodriguez,M,12th,Huang High School,90.0,60.0,NaN,NaN
3,3,Richard Scott,M,12th,Huang High School,67.0,58.0,NaN,NaN
4,4,Bonnie Ray,F,9th,Huang High School,97.0,84.0,NaN,NaN

In [336]:
#dataframe with only Thomas High students from 10-12th grade
ths_student_df = student_data_df.loc[(student_data_df['school_name'] == "Thomas High School") & (student_data_df["grade"] != "9th grade")]
ths_student_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,Unnamed: 7,Unnamed: 8
37535,37535,Norma Mata,F,10th,Thomas High School,76,76,NaN,NaN
37536,37536,Cody Miller,M,11th,Thomas High School,84,82,NaN,NaN
37537,37537,Erik Snyder,M,9th,Thomas High School,80,90,NaN,NaN
37538,37538,Tanya Martinez,F,9th,Thomas High School,71,69,NaN,NaN
37539,37539,Noah Erickson,M,9th,Thomas High School,86,76,NaN,NaN

In [350]:
# Step 6. Get all the students passing math from THS
ths_passing_math = ths_student_df.loc[ths_student_df['math_score'] >= 70]
ths_passing_math.count()

Student ID       1525
student_name     1525
gender           1525
grade            1525
school_name      1525
reading_score    1525
math_score       1525
Unnamed: 7          0
Unnamed: 8          0
dtype: int64

In [351]:
# Step 7. Get all the students passing reading from THS
ths_passing_reading = ths_student_df.loc[ths_student_df['reading_score'] >= 70]
ths_passing_reading.count()
#ths_passing_reading = student_data_df.loc[(student_data_df["reading_score"] >= 70) & (student_data_df["school_name"] == "Thomas High School")]
#ths_passing_reading 
#ths_passing_reading.count()

Student ID       1591
student_name     1591
gender           1591
grade            1591
school_name      1591
reading_score    1591
math_score       1591
Unnamed: 7          0
Unnamed: 8          0
dtype: int64

In [321]:
ths_student_df["Student ID"].count()

1635

In [344]:
# Step 8. Get all the students passing math and reading from THS
ths_passing_math_reading = ths_student_df[(ths_student_df['math_score'] >= 70) & (ths_student_df['reading_score'] >= 70)]['Student ID'].count()
ths_passing_math_reading

1487

In [355]:
# Step 9. Calculate the percentage of 10th-12th grade students passing math from Thomas High School. 
#percentage = total 10-12 THS students / 10-12 THS passing math * 100
ths_student_passing_math = ths_passing_math["Student ID"].count() / ths_student_df["Student ID"].count() * 100
ths_student_passing_math

93.27217125382263

In [356]:
# Step 10. Calculate the percentage of 10th-12th grade students passing reading from Thomas High School.
ths_student_passing_reading = ths_passing_reading["Student ID"].count() / ths_student_df["Student ID"].count() * 100
ths_student_passing_reading

97.30886850152906

In [347]:
# Step 11. Calculate the overall passing percentage of 10th-12th grade from Thomas High School. 
ths_student_passing_math_reading = ths_student_df[(ths_student_df['math_score'] >= 70) & (ths_student_df['reading_score'] >= 70)]['Student ID'].count() / ths_student_df["Student ID"].count() *100
ths_student_passing_math_reading

90.94801223241589

In [131]:
# Step 12. Replace the passing math percent for Thomas High School in the per_school_summary_df. 
#ths_student_passing_math
per_school_summary_df.loc["% Passing Math", "per_school_passing_math"]

In [132]:
# Step 13. Replace the passing reading percentage for Thomas High School in the per_school_summary_df.
#ths_student_passing_reading

In [133]:
# Step 14. Replace the overall passing percentage for Thomas High School in the per_school_summary_df.
#ths_student_passing_math_reading

In [134]:

per_school_summary_df = pd.DataFrame({
    "School Type": per_school_types,
    "Total Students": per_school_counts,
    "Total School Budget": per_school_budget,
    "Per Student Budget": per_school_capita,
    "Average Math Score": per_school_math,
    "Average Reading Score": per_school_reading,
    "% Passing Math": per_school_passing_math,
    "% Passing Reading": per_school_passing_reading,
    "% Overall Passing": per_overall_passing_percentage})

per_school_summary_df

## High and Low Performing Schools

In [365]:
# Sort and show top five schools.
top_5 = per_school_summary_df.sort_values("% Overall Passing", ascending = False)
top_5.head().style.format({"Total Students": "{:,}", 
                           "Total School Budget": "${:,}", 
                           "Per Student Budget": "${:.0f}", 
                           "% Passing Math": "{:.1%}", 
                           "% Passing Reading": "{:.1%}", 
                           "% Overall Passing": "{:.1%}"})

ValueError: Cannot specify ',' with 's'.

In [136]:
# Sort and show top five schools.
bottom_5 = top_5.tail()
bottom_5 = bottom_5.sort_values("% Overall Passing")
bottom_5.style.format({"Total Students": ""{:,}"", 
                       "Total School Budget": "${:,}", 
                       "Per Student Budget": "${:.0f}", 
                       "% Passing Math": "{:.1%}", 
                       "% Passing Reading": "{:.1%}", 
                       "% Overall Passing": "{:.1%}"})

## Math and Reading Scores by Grade

In [137]:
# Create a Series of scores by grade levels using conditionals.

# Group each school Series by the school name for the average math score.


# Group each school Series by the school name for the average reading score.

In [138]:
# Combine each Series for average math scores by school into single data frame.

In [139]:
# Combine each Series for average reading scores by school into single data frame.

In [140]:
# Format each grade column.

In [141]:
# Remove the index. index.name = none


# Display the data frame

In [142]:
## Remove the index.


# Display the data frame

## Scores by School Spending

In [143]:
# Establish the spending bins and group names.


# Categorize spending based on the bins.

In [144]:
# Calculate averages for the desired columns.

In [145]:
# Create the DataFrame

In [146]:
# Format the DataFrame

## Scores by School Size

In [147]:
# Establish the bins.

# Categorize spending based on the bins.

In [148]:
# Calculate averages for the desired columns.

In [149]:
# Assemble into DataFrame.

In [150]:
# Format the DataFrame

## Scores by School Type

In [151]:
# Calculate averages for the desired columns.

In [152]:
# Assemble into DataFrame.

In [153]:
# # Format the DataFrame